In [3]:
# Imports
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [4]:
train = pd.read_csv('data/train.csv')

In [5]:
train.head()

,id,full_nr,name,ks,material,commentary,event_type,location,start,end,before_Christ,country_and_unit,participants_role,participant,parish,text,class,technique,parameter,unit,value,museum_abbr,musealia_mark,musealia_seria_nr,musealia_queue_nr,musealia_additional_nr,collection_mark,collection_queue_nr,collection_additional_nr,element_count,legend,is_original,initial_info,damages,state,color,additional_text,type
0,232170,ETMM _ 12150:115 Aj 118:44/M20,"Kuno Areng, Bremerhaveni Festwoche medal",118.0,metall,NaN,festivalid,linn Bremerhaven,1979,NaN,ei,Saksamaa,osaleja,"Areng, Kuno",NaN,NaN,NaN,NaN,läbimõõt,cm,4,ETMM,_,12150.0,115.0,NaN,Aj,44.0,M20,1.0,NaN,1.0,Festwoche- Breemenhaven,NaN,hea,hall,KUTTER ASTARTE -SCHIFFERGILDE BREMENHAVEN E. V.,medal
1,2251378,ETMM _ 12584:19 M 102:1/13:13,"Foto-Villem Kapp,foto pühendusega Armilde M,1937",102.0,fotomaterjal,NaN,filmindus ja fotograafia,NaN,1938,NaN,ei,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ETMM,_,12584.0,19.0,NaN,M,1.0,13:13,1.0,Fotod Villem Kapi ja Juhan Aaviku kogu-\ndesse...,NaN,NaN,NaN,hea,NaN,NaN,foto
2,2070466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN,F,52.0,NaN,1.0,NaN,NaN,NaN,NaN,hea,NaN,NaN,foto
3,4085096,ETMM _ Fk 41691/k,"Metspart, Noorsooteater, 1969, osades: Hedvig ...",41691.0,fotomaterjal,NaN,teater,NaN,18.09.1969,NaN,ei,,seosorganisatsioon,Noorsooteater,NaN,NaN,NaN,NaN,filmikaader,60 x 60 mm,1,ETMM,_,NaN,NaN,NaN,Fk,NaN,k,1.0,NaN,1.0,TB080321,NaN,rahuldav,NaN,NaN,fotonegatiiv
4,2697904,ETMM _ 9424 Mo 238:1/62:05,Kiri: Rahvapillimehed: Viiul: Jüri Saal: Kiri ...,238.0,paber,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,käsikiri,NaN,NaN,NaN,ETMM,_,9424.0,NaN,NaN,Mo,1.0,62:05:00,1.0,Rahvapillimehed Mo238,1.0,NaN,NaN,rahuldav,NaN,NaN,kiri

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        14000 non-null  int64
 1   full_nr                   9012 non-null   object
 2   name                      9012 non-null   object
 3   ks                        8816 non-null   float64
 4   material                  9012 non-null   object
 5   commentary                440 non-null    object
 6   event_type                9302 non-null   object
 7   location                  1239 non-null   object
 8   start                     5920 non-null   object
 9   end                       1247 non-null   object
 10  before_Christ             5435 non-null   object
 11  country_and_unit          9302 non-null   object
 12  participants_role         6234 non-null   object
 13  participant               6234 non-null   object
 14  parish                    14 non-null     object
 15  text                      229 non-null    object
 16  class                     229 non-null    object
 17  technique                 5691 non-null   object
 18  parameter                 6571 non-null   object
 19  unit                      6571 non-null   object
 20  value                     6571 non-null   object
 21  museum_abbr               13998 non-null  object
 22  musealia_mark             10356 non-null  object
 23  musealia_seria_nr         10010 non-null  float64
 24  musealia_queue_nr         2209 non-null   float64
 25  musealia_additional_nr    483 non-null    object
 26  collection_mark           13998 non-null  object
 27  collection_queue_nr       10440 non-null  float64
 28  collection_additional_nr  7506 non-null   object
 29  element_count             14000 non-null  float64
 30  legend                    3098 non-null   object
 31  is_original               11779 non-null  float64
 32  initial_info              1613 non-null   object
 33  damages                   1160 non-null   object
 34  state                     14000 non-null  object
 35  color                     451 non-null    object
 36  additional_text           3062 non-null   object
 37  type                      14000 non-null  object
dtypes: float64(6), int64(1), object(31)
memory usage: 4.1+ MB

In [7]:
train.describe()

,id,ks,musealia_seria_nr,musealia_queue_nr,collection_queue_nr,element_count,is_original
count,1.400000e+04,8816.000000,10010.000000,2209.000000,10440.000000,14000.000000,11779.000000
mean,2.923072e+06,6441.173888,11216.157343,273.129018,210.702969,1.003071,0.965362
std,8.626119e+05,15473.738824,6850.283512,398.997111,747.038120,0.155585,0.182869
min,1.956300e+05,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000
25%,2.328927e+06,53.000000,7315.000000,25.000000,1.000000,1.000000,1.000000
50%,2.870586e+06,416.000000,9951.500000,122.000000,2.000000,1.000000,1.000000
75%,3.620546e+06,3517.000000,12582.000000,329.000000,52.000000,1.000000,1.000000
max,4.322668e+06,123130.000000,111380.000000,4268.000000,6320.000000,14.000000,1.000000

In [8]:
train.describe(include=object)

,full_nr,name,material,commentary,event_type,location,start,end,before_Christ,country_and_unit,participants_role,participant,parish,text,class,technique,parameter,unit,value,museum_abbr,musealia_mark,musealia_additional_nr,collection_mark,collection_additional_nr,legend,initial_info,damages,state,color,additional_text,type
count,9012,9012,9012,440,9302,1239,5920,1247,5435,9302,6234,6234,14,229,229,5691,6571,6571,6571,13998,10356,483,13998,7506,3098,1613,1160,14000,451,3062,14000
unique,9012,7595,108,197,477,333,1653,301,1,158,45,1848,11,184,2,96,23,21,760,2,1,96,33,3463,569,1062,594,5,43,2248,55
top,ETMM _ 12150:115 Aj 118:44/M20,Savinõukillud,paber,lakk,pildistamine,linn Tallinn,1900,1910,ei,,autor,J. & P. Parikas,Pärnumaa,klaasnegatiiv.,nimetus lähtedokumendil,mustvalge fotograafia,kõrgus,cm,1,ETMM,_,1,T,Ar,Saadud Mati Mandeli juhatatud kaevamistel 1983...,mündiaare,Korras,hea,mustvalge,Eesti Selts Estonia teatri raamatukogu,foto
freq,1,106,4480,82,946,302,93,80,5435,5706,2195,226,3,15,225,1375,2065,3632,1289,7939,10356,110,3311,818,193,78,85,10019,114,57,3747