In [3]:
from setup_general import *

# Mapping

Map to 0/1 for the following columns: is_orginal, museum_abbr, class

In [54]:
#check attribute values
prep['class'].value_counts()
#name on the source document, manufacturer's name

name on the source document    306
manufacturer's name              5
Name: class, dtype: int64

In [55]:
prep['is_original'].value_counts()
#already 1, 0

1.0    16278
0.0      568
Name: is_original, dtype: int64

In [56]:
prep['museum_abbr'].value_counts()
#ETMM, AM
#Meanings? ETMM - could be Estonian Theatre and Music Museum (Tallinn)??
#AM - could be Ajaloomuuseum
#source: https://www.ajaloomuuseum.ee/about-museum/documents/development-plan-of-sihtasutus-eesti-ajaloomuuseum-for-2019-2023

ETMM    11387
AM       8611
Name: museum_abbr, dtype: int64

In [57]:
data = prep.copy()

In [58]:
#map to 0/1

#prep.is_original = prep.is_original.map(dict(yes=1, no=0)) # not needed already done!

#museum_abbr
#before mapping
print(data['museum_abbr'].value_counts())
data['museum_abbr'] = data['museum_abbr'].map(dict(ETMM=1, AM=0))
#after mapping 
print(data['museum_abbr'].value_counts())

#class
#before
print(data['class'].value_counts())

#define condition so we can map variables with ' characters
def condition(x):
    if x == "name on the source document":
        return 1
    elif x == "manufacturer's name":
        return 0
 
data['class'] = data['class'].apply(condition)                                      
#after
print(data['class'].value_counts())

ETMM    11387
AM       8611
Name: museum_abbr, dtype: int64
1.0    11387
0.0     8611
Name: museum_abbr, dtype: int64
name on the source document    306
manufacturer's name              5
Name: class, dtype: int64
1.0    306
0.0      5
Name: class, dtype: int64

Unsolved issue : do we map NaN or leave them as is?

In [59]:
#save 
data.to_csv('data/prep.csv')

In [46]:
#Unsure if mapping for museum_abbr done correctly! - Might need to re-create prep from the beginning??

In [60]:
print(data['museum_abbr'].value_counts()) #wasn't empty before?
data2 = pd.read_csv('data/prep.csv', index_col='id', dtype={'type': str})

print(data2['museum_abbr'].value_counts())

1.0    11387
0.0     8611
Name: museum_abbr, dtype: int64

C:\Users\daria\AppData\Local\Temp\ipykernel_10764\821397110.py:2: DtypeWarning: Columns (13,266) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('data/prep.csv', index_col='id', dtype={'type': str})

1.0    11387
0.0     8611
Name: museum_abbr, dtype: int64